@model TEKA.Models.Service_Fee

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Service_Fee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warfee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warfee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charfee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charfee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pubfee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pubfee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
