@model IEnumerable<TEKA.Models.Article>
@{
    ViewBag.Title = "Config";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int index = 0;
}

<div class="row">
    <div class="col-lg-12 grid-margin">        
        <div class="card">
            <div class="card-body">
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink(Resources.Resources.create_new, "Create")
                }
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>@Resources.Resources.title</th>
                                    <th>@Resources.Resources.photo</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    index++;
                                    <tr>
                                        <td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })<br />

                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                        <td><img style="width:150px;height:50px; border-radius:unset;" src="@(item.Image == null ? "" : item.Image)" alt="" /></td>
                                        <td>@Html.DisplayFor(modelItem => item.Url)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>

<ul class="pagination">
    @Html.Raw((String)ViewBag.PagingHtml)
</ul>

